@{
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <div class="main-content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-4">
                    ssssdf
                </div>
                <div class="col-md-4">
                    ssssdf
                </div>
                <div class="col-md-4">
                    ssssdf
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    ssssdf
                </div>
                <div class="col-md-4">
                    ssssdf
                </div>
                <div class="col-md-4">
                    ssssdf
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    ssssdf
                </div>
                <div class="col-md-4">
                    ssssdf
                </div>
                <div class="col-md-4">
                    ssssdf
                </div>
            </div>
        </div>
    </div>
</div>